<!-- Validation failure messages -->
<% if @train_status.errors.any? %>
  <% @train_status.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Train Status</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_train_status" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for train_number -->
      <div class="form-group">
        <label for="train_number" class="control-label">
          Train number
        </label>

        <input type="text" id="train_number" name="train_number" placeholder="Train number" class="form-control" value="<%= @train_status.train_number %>">
      </div>

      <!-- Label and input for status -->
      <div class="form-group">
        <label for="status" class="control-label">
          Status
        </label>

        <input type="text" id="status" name="status" placeholder="Status" class="form-control" value="<%= @train_status.status %>">
      </div>

      <button class="btn btn-success">
        Create Train Status
      </button>
      or
      <a href="/train_statuses">Cancel</a>
    </form>
  </div>
</div>
